In [1]:
import pandas as pd
import boto3

In [2]:
s3 = boto3.client('s3')

In [3]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='AKIA2NTYOWHPD2MYBOHU',
    aws_secret_access_key='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'
)

In [4]:
for bucket in s3.buckets.all():
    print(bucket.name)

3july-test1
mybucket948903801

In [5]:
import os
os.environ["AWS_DEFAULT_REGION"] = 'us-east-2'
os.environ["AWS_ACCESS_KEY_ID"] = 'AKIA2NTYOWHPD2MYBOHU'
os.environ["AWS_SECRET_ACCESS_KEY"] = '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'

In [6]:
import yfinance as yf
import matplotlib.pyplot as plt
import datetime


symbols = ['AAPL', 'MSFT', 'GOOGL']
dfs = {symbol: pd.DataFrame(columns=['Close']) for symbol in symbols}

In [7]:
def fetch_and_process_data(symbol):
    end = datetime.datetime.now()
    data = yf.download(symbol,end=end,  interval='1m')
    data.set_index(pd.to_datetime(data.index), inplace=True)
    dfs[symbol] = pd.concat([data[['Close']]])
    print(f"{symbol}")
    print(dfs[symbol])

In [8]:
 for symbol in symbols:
        fetch_and_process_data(symbol)

[*********************100%***********************]  1 of 1 completed
AAPL
                                Close
Datetime
2023-06-27 09:30:00-04:00  185.993698
2023-06-27 09:31:00-04:00  186.139999
2023-06-27 09:32:00-04:00  185.860001
2023-06-27 09:33:00-04:00  185.919998
2023-06-27 09:34:00-04:00  186.259995
...                               ...
2023-07-03 12:41:00-04:00  192.274994
2023-07-03 12:42:00-04:00  192.270004
2023-07-03 12:43:00-04:00  192.220001
2023-07-03 12:44:00-04:00  192.225494
2023-07-03 12:45:00-04:00  192.250000

[1756 rows x 1 columns]
[*********************100%***********************]  1 of 1 completed
MSFT
                                Close
Datetime
2023-06-27 09:30:00-04:00  331.869995
2023-06-27 09:31:00-04:00  331.940002
2023-06-27 09:32:00-04:00  331.700012
2023-06-27 09:33:00-04:00  331.890015
2023-06-27 09:34:00-04:00  332.760010
...                               ...
2023-07-03 12:41:00-04:00  337.529999
2023-07-03 12:42:00-04:00  337.519989
2023-07-03 12:43:00-04:00  337.450012
2023-07-03 12:44:00-04:00  337.450897
2023-07-03 12:45:00-04:00  337.489990

[1756 rows x 1 columns]
[*********************100%***********************]  1 of 1 completed
GOOGL
                                Close
Datetime
2023-06-27 09:30:00-04:00  117.029999
2023-06-27 09:31:00-04:00  116.684998
2023-06-27 09:32:00-04:00  116.330399
2023-06-27 09:33:00-04:00  116.389999
2023-06-27 09:34:00-04:00  116.779999
...                               ...
2023-07-03 12:41:00-04:00  119.714996
2023-07-03 12:42:00-04:00  119.714996
2023-07-03 12:43:00-04:00  119.713600
2023-07-03 12:44:00-04:00  119.669998
2023-07-03 12:45:00-04:00  119.649200

[1756 rows x 1 columns]

In [9]:
for symbol in symbols:
    dfs[symbol].rename(columns={'Close': f'{symbol}_Close'}, inplace=True)
    dfs[symbol].to_csv(f"{symbol}.csv")
    print(dfs[symbol])

                           AAPL_Close
Datetime
2023-06-27 09:30:00-04:00  185.993698
2023-06-27 09:31:00-04:00  186.139999
2023-06-27 09:32:00-04:00  185.860001
2023-06-27 09:33:00-04:00  185.919998
2023-06-27 09:34:00-04:00  186.259995
...                               ...
2023-07-03 12:41:00-04:00  192.274994
2023-07-03 12:42:00-04:00  192.270004
2023-07-03 12:43:00-04:00  192.220001
2023-07-03 12:44:00-04:00  192.225494
2023-07-03 12:45:00-04:00  192.250000

[1756 rows x 1 columns]
                           MSFT_Close
Datetime
2023-06-27 09:30:00-04:00  331.869995
2023-06-27 09:31:00-04:00  331.940002
2023-06-27 09:32:00-04:00  331.700012
2023-06-27 09:33:00-04:00  331.890015
2023-06-27 09:34:00-04:00  332.760010
...                               ...
2023-07-03 12:41:00-04:00  337.529999
2023-07-03 12:42:00-04:00  337.519989
2023-07-03 12:43:00-04:00  337.450012
2023-07-03 12:44:00-04:00  337.450897
2023-07-03 12:45:00-04:00  337.489990

[1756 rows x 1 columns]
                           GOOGL_Close
Datetime
2023-06-27 09:30:00-04:00   117.029999
2023-06-27 09:31:00-04:00   116.684998
2023-06-27 09:32:00-04:00   116.330399
2023-06-27 09:33:00-04:00   116.389999
2023-06-27 09:34:00-04:00   116.779999
...                                ...
2023-07-03 12:41:00-04:00   119.714996
2023-07-03 12:42:00-04:00   119.714996
2023-07-03 12:43:00-04:00   119.713600
2023-07-03 12:44:00-04:00   119.669998
2023-07-03 12:45:00-04:00   119.649200

[1756 rows x 1 columns]

In [10]:
combined = None
for i in range(0,2):
    sym1 = symbols[i]
    sym2 = symbols[i+1]
    
    df1 = pd.read_csv(f'{sym1}.csv')
    df2 = pd.read_csv(f'{sym2}.csv')
    merged_df = df1.merge(df2, how="left")
    if combined is None:
        combined = merged_df
    else:
        combined = combined.merge(merged_df, how="left")
        
print(combined)

                       Datetime  AAPL_Close  MSFT_Close  GOOGL_Close
0     2023-06-27 09:30:00-04:00  185.993698  331.869995   117.029999
1     2023-06-27 09:31:00-04:00  186.139999  331.940002   116.684998
2     2023-06-27 09:32:00-04:00  185.860001  331.700012   116.330399
3     2023-06-27 09:33:00-04:00  185.919998  331.890015   116.389999
4     2023-06-27 09:34:00-04:00  186.259995  332.760010   116.779999
...                         ...         ...         ...          ...
1751  2023-07-03 12:41:00-04:00  192.274994  337.529999   119.714996
1752  2023-07-03 12:42:00-04:00  192.270004  337.519989   119.714996
1753  2023-07-03 12:43:00-04:00  192.220001  337.450012   119.713600
1754  2023-07-03 12:44:00-04:00  192.225494  337.450897   119.669998
1755  2023-07-03 12:45:00-04:00  192.250000  337.489990   119.649200

[1756 rows x 4 columns]

In [11]:
combined.to_csv('combined-streaming-data.csv')

In [12]:
s3.Bucket('3july-test1').upload_file(Filename="combined-streaming-data.csv", Key="combined-streaming-data.csv")

In [14]:
s3.Bucket('3july-test1').objects.all()

s3.Bucket.objectsCollection(s3.Bucket(name='3july-test1'), s3.ObjectSummary)